name: Release

on:
  push:
    tags:
      - v*.*.*
      - v*.*.*-*

jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: denoland/setup-deno@v1.1.0
        with:
          deno-version: v1.14.3
      - uses: olegtarasov/get-tag@v2.1.1
        id: tagName
        with:
          tagRegex: "v(.*)"
      - name: Set version
        run: |
          echo "export default \"${GIT_TAG_NAME}\";" > version.ts
      - name: Build
        run: |
          ./scripts/compile.sh
      - uses: edgarrc/action-7z@v1
        with:
          args: 7z a dist/aarch64-apple-darwin.7z ./dist/aarch64-apple-darwin/g2d
      - uses: edgarrc/action-7z@v1
        with:
          args: 7z a dist/x86_64-apple-darwin.7z ./dist/x86_64-apple-darwin/g2d
      - uses: edgarrc/action-7z@v1
        with:
          args: 7z a dist/x86_64-pc-windows-msvc.7z ./dist/x86_64-pc-windows-msvc/g2d.exe
      - uses: edgarrc/action-7z@v1
        with:
          args: 7z a dist/x86_64-unknown-linux-gnu.7z ./dist/x86_64-unknown-linux-gnu/g2d
      - uses: ncipollo/release-action@v1.8.10
        with:
          artifacts: "dist/*.7z"
          token: ${{ secrets.GITHUB_TOKEN }}
